
<h3>Guild Account Details</h3>
<p><strong>Name:</strong></p>
<p>{{account.name}}</p>
<p><strong>Description</strong></p>
<p>{{account.description}}</p>
<p><strong>Website</strong></p>
<p>{{account.website}}</p>

<h4>Server Info</h4>
<p><strong>Game Server</strong></p>
<p>{{account.gameServer}}</p>
<p><strong>Teamspeak Server</strong></p>
<p>{{account.ts}}</p>
<p><strong>Discord Server</strong></p>
<p>{{account.discord}}</p>


<button ng-click="preview()">Preview</button>
<button ng-click="edit()">Edit</button>
<button ng-click="logout()">Log out</button>
