<h3>CohortWars</h3>
<h3>Clans.com</h3>
<hr>
<p>This site was built to connect players with communities.  Our site allows players to search gaming clans based on timezone, playstyle, and activity.  If you are curious about the features of this site and how it works, please visit our "How the Site Works" page.</p>
<a ng-href="#!/how" rel="">How the Site Works</a>
<h3>Advice to Players</h3>
<hr>
<p>To maximize your gaming experience, it's not about finding the "best" group, it's about finding the right group for you.  For tips on how to find that group, checkout our "Tips and Guidelines" page.</p>
<a ng-href="#!/tips">Tips and Guidelines</a>
