<div class="clanCard" id="guildSignUp">
	<h1>Sign up Your Guild Here</h1>
	<p class="terms"><strong>Terms and Conditions</strong></p>
	<p>By Signing up your Clan, you are agreeing that all information is truthful and accurate.  You also agree to the terms of service and the you, or any other member of your gaming community will respect the voting rules and regulations.  Violation of the voting rules, can result in your account being suspended without refund.</p>
	<hr>
	<div class="row">
		<div class="signUpFields col-md-4">
			<label>Account Email : </label>
			<input type="text" autofocus="true"  ng-model="account.email">		
		</div>
		<div class="signUpFields col-md-4">
			<label>Password : </label>
			<input type="password" autofocus="true"  ng-model="account.password">
		</div>
		<div class="signUpFields col-md-4">
			<button ng-click="accountRegister()">Register or Login</button>
		</div>

	</div>
</div>