<h3>How this Site Works</h3>

<p>This site ranks the guilds/clans on Website Name based on the activity of it's members.  For a vote to be counted, it must come from a valid Steam account, and only one vote per day per Steam Account is counted towards the clan total.</p>

<p>Aggregate Guild Gaming, the operator of WEBSITE NAME, takes pride in presenting accurate information about active clans in the GAME NAME community.  Presenting false data about your game, or misrepresenting activity by abusing the voting system will be investigated, and guild accounts will be deleted from the site if it is found they have violated our terms and conditions</p>