
<div ng-repeat="guild in guilds" class="clanCard container">
	<header class="row cardHeader">
		<p class="ranker col-md-1">I</p>
		<h3 class="clan-title col-md-11">{{guild.name}}</h3>
	</header>
	<div class="bannerImage">
		<img ng-src="{{guild.image}}" rel="bannerImage" alt="banner">
	</div>
	<div>
		<p>{{guild.description}}</p>
	</div>
	<footer>
		<p>Links go in here</p>
	</footer>
</div>
<!-- <div class="clanCard container">
	<header class="row cardHeader">
		<p class="ranker col-md-1">II</p>
		<h3 class="clan-title col-md-11">Clan Title</h3>
	</header>
	<div class="bannerImage">
		<img src="#" rel="bannerImage" alt="banner">
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in nisl interdum, vehicula augue scelerisque, congue nisi. Phasellus vitae suscipit massa, sit amet finibus urna. Etiam posuere nulla non erat eleifend, id tristique nibh accumsan. Vestibulum tempus ipsum diam, ut varius est hendrerit vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi in pretium tortor. Praesent elementum efficitur tortor, eget posuere sem convallis ac. Donec turpis ante, dignissim id magna nec, suscipit vestibulum metus.</p>
	</div>
	<footer>
		<p>Links go in here</p>
	</footer>
</div>
<div class="clanCard container">
	<header class="row cardHeader">
		<p class="ranker col-md-1">III</p>
		<h3 class="clan-title col-md-11">Clan Title</h3>
	</header>
	<div class="bannerImage">
		<img src="#" rel="bannerImage" alt="banner">
	</div>
	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in nisl interdum, vehicula augue scelerisque, congue nisi. Phasellus vitae suscipit massa, sit amet finibus urna. Etiam posuere nulla non erat eleifend, id tristique nibh accumsan. Vestibulum tempus ipsum diam, ut varius est hendrerit vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi in pretium tortor. Praesent elementum efficitur tortor, eget posuere sem convallis ac. Donec turpis ante, dignissim id magna nec, suscipit vestibulum metus.</p>
	</div>
	<footer>
		<p>Links go in here</p>
	</footer>
</div> -->

