<!-- <div class="navbar">
	<a ng-href="#!/" class="nav-item"><img src="" rel="logo" alt="logo"></a>
	<ul class="nav">
		<li class="nav-item"><a class="nav-link" ng-href="#!/">Home</a></li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" ng-href="#!/how">How This Site Works</a>
					<a class="dropdown-item" ng-href="#!/tips">Tips and Guidelines</a>
					<a class="dropdown-item" ng-href="#!/who">Who We Are</a>
			</div>
		</li>
		<li class="nav-item"><a class="nav-link" ng-href="#!/guild-signup">Sign Up</a></li>
		<li class="nav-item"><a class="nav-link" ng-href="#!/login">Login</a></li>
		<li class="nav-item"><a class="nav-link" ng-href="#!/support">Support</a></li>
	</ul>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#!/"><p>Cohort Wars Clans.com</p></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li class="dropdown">
          <a class="dropdown -toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" ng-href="#!/how">How This Site Works</a></li>
            <li><a class="dropdown-item" ng-href="#!/tips">Tips and Guidelines</a></li>
            <li><a class="dropdown-item" ng-href="#!/who">Who We Are</a></li>
          </ul>
        </li>
      	<li class="nav-item"><a class="nav-link" ng-href="#!/guild-signup"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></li>
      	<li class="nav-item"><a class="nav-link" ng-href="#!/vote"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
		<li class="nav-item"><a class="nav-link" ng-href="#!/support"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
      </ul>
    </div>
  </div>
</nav>