<div id="whatever">
	
</div>

<!-- <!DOCTYPE html>
↵<html class=" responsive" lang="en">
↵<head>
↵	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
↵	<meta name="viewport" content="width=device-width,initial-scale=1">
↵	<meta name="theme-color" content="#171a21">
↵	<title>Steam Community</title>
↵	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
↵
↵	<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/motiva_sans.css?v=qIG_iZC1Vj_d" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/buttons.css?v=DivqMdJb8hoZ" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/shared_global.css?v=TBcFCzFI_Hwx" rel="stylesheet" type="text/css" >↵<link href="https://steamcommunity-a.akamaihd.net/public/css/globalv2.css?v=fhcxF1tVnmT1" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/home.css?v=pJzVFGIy2mmE" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/login.css?v=C73T6yQ8V-sA" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/openid.css?v=xSnPokdOF9w8" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/motiva_sans.css?v=qIG_iZC1Vj_d" rel="stylesheet" type="text/css" >
↵<link href="https://steamcommunity-a.akamaihd.net/public/shared/css/shared_responsive.css?v=Sqh2tLHzRZFc" rel="stylesheet" type="text/css" >↵<link href="https://steamcommunity-a.akamaihd.net/public/css/skin_1/header.css?v=nsrVgIBuVLKM" rel="stylesheet" type="text/css" >
↵			<script>
↵				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
↵						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
↵					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
↵				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
↵
↵				ga('create', 'UA-33779068-1', 'auto', {
↵					'sampleRate': 0.4				});
↵				ga('set', 'dimension1', false );
↵				ga('set', 'dimension2', 'External' );
↵				ga('set', 'dimension3', 'openid' );
↵				ga('set', 'dimension4', "openid\/login" );
↵				ga('send', 'pageview');
↵
↵			</script>
↵			<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/prototype-1.7.js?v=.55t44gwuwgvw" ></script>
↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/scriptaculous/_combined.js?v=9XVsa_Ni33oN&amp;l=english&amp;load=effects,controls,slider,dragdrop" ></script>
↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/global.js?v=jYCJbDIViDXh&amp;l=english" ></script>
↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/jquery-1.11.1.min.js?v=.isFTSRckeNhC" ></script>↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/tooltip.js?v=.gcRSUfx-SLlh" ></script>
↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/shared_global.js?v=YF7ELidpakhS&amp;l=english" ></script>
↵<script type="text/javascript">$J = jQuery.noConflict();
↵if ( typeof JSON != 'object' || !JSON.stringify || !JSON.parse ) { document.write( "<scr" + "ipt type=\"text\/javascript\" src=\"https:\/\/steamcommunity-a.akamaihd.net\/public\/javascript\/json2.js?v=pmScf4470EZP&amp;l=english\" ><\/script>\n" ); };
↵</script><script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/login.js?v=i540mGHFtw2z&amp;l=english" ></script>
↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/javascript/modalv2.js?v=dfMhuy-Lrpyo&amp;l=english" ></script>
↵<script type="text/javascript" src="https://steamcommunity-a.akamaihd.net/public/shared/javascript/shared_responsive_adapter.js?v=qLEcRmcHn-kc&amp;l=english" ></script>↵
↵	
↵						<meta property="fb:app_id" content="105386699540688">
↵			
↵	
↵			<link rel="image_src" href="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
↵		<meta property="og:image" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
↵					<meta property="og:image:secure" content="https://steamcommunity-a.akamaihd.net/public/shared/images/responsive/share_steam_logo.png">
↵			
↵	
↵	
↵	</head>
↵<body class=" responsive_page">
↵
↵<div class="responsive_page_frame with_header">
↵
↵						<div class="responsive_page_menu_ctn mainmenu">
↵				<div class="responsive_page_menu"  id="responsive_page_menu">
↵										<div class="mainmenu_contents">
↵						<div class="mainmenu_contents_items">
↵															<a class="menuitem" href="https://steamcommunity.com/login/home/?goto=openid%2Flogin%3Fopenid.mode%3Dcheckid_setup%26openid.ns%3Dhttp%253A%252F%252Fspecs.openid.net%252Fauth%25…ill be shared with a third-party web site. See our <a href="http://www.valvesoftware.com/privacy.html">Privacy Policy</a> for more information.				</ul>
↵			</div>
↵		</div>
↵
↵		<div class="OpenIDCol left">
↵			<div class="OpenID_LowerContents_left">
↵										<form action="#" method="POST" name="logon" id="loginForm">
↵							<input type="hidden" name="emailauth" id="emailauth" value="">
↵							<input type="hidden" name="emailsteamid" id="emailsteamid">
↵							<input type="hidden" name="loginfriendlyname" id="loginfriendlyname" value="">
↵							<div>Steam username</div>
↵							<input class="textField" type="text" name="username" id="steamAccountName" autofocus maxlength="64" /><br />
↵							&nbsp;
↵							<br>
↵							<div>Password</div>
↵							<input class="textField" type="password" name="password" id="steamPassword" autocomplete="off" maxlength="64" /><br />
↵							<br>
↵							<div id="captcha_entry" class="captcha_oauth" style="display: none;">
↵								<input type="hidden" id="captchagid" name="captchagid" value="-1" />
↵								<div id="CaptchaFormArea">
↵								<div>Type these characters below</div>
↵								<img id="captchaImg" src="https://steamcommunity.com/public/captcha.php?gid=-1" border="0" /><br />
↵								<div id="captchaRefresh"><img src="https://steamcommunity-a.akamaihd.net/public/images//skin_1/blue_refresh_icon.png" id="captchaRefreshImg" border="0" onClick="RefreshCaptcha();return false;" />&nbsp;<a href="#" id="captchaRefreshLink" title="Refresh" onClick="RefreshCaptcha();return false;">Refresh</a></div>
↵								<input class="textField" type="text" name="captcha_text" id="input_captcha" autocomplete="off" /><br />
↵								<div class="smallLabel" id="captchaExplanation">Are you human or robot?</div>
↵								<br>
↵								</div>
↵							</div>
↵							<div id="login_btn_signin">
↵								<input class="btn_green_white_innerfade" type="submit" id="imageLogin" style="width:104px; height:34px; border:none; font-size: 15px;" value="Sign in" />
↵							</div>
↵							<br>
↵							<div id="login_btn_wait" style="display: none;">
↵								<img src="https://steamcommunity-a.akamaihd.net/public/images/login/throbber.gif">
↵							</div>
↵							<br clear="all">
↵						</form>
↵						<br>
↵						<p>Don't have a Steam account?  You can <a class="whiteLink" target="_blank" href="https://store.steampowered.com/join/">create an account</a> for free.</p>
↵					
↵					<form enctype="multipart/form-data" action="https://steamcommunity.com/openid/login" method="POST" name="loginForm" id="openidForm">
↵						<input type="hidden" id="actionInput" name="action" value="steam_openid_login" />
↵													<input type="hidden" name="openid.mode" value="checkid_setup" />
↵							<input type="hidden" name="openidparams" value="YTo2OntzOjExOiJvcGVuaWQubW9kZSI7czoxMzoiY2hlY2tpZF9zZXR1cCI7czo5OiJvcGVuaWQubnMiO3M6MzI6Imh0dHA6Ly9zcGVjcy5vcGVuaWQubmV0L2F1dGgvMi4wIjtzOjE1OiJvcGVuaWQuaWRlbnRpdHkiO3M6NTA6Imh0dHA6Ly9zcGVjcy5vcGVuaWQubmV0L2F1dGgvMi4wL2lkZW50aWZpZXJfc2VsZWN0IjtzOjE3OiJvcGVuaWQuY2xhaW1lZF9pZCI7czo1MDoiaHR0cDovL3NwZWNzLm9wZW5pZC5uZXQvYXV0aC8yLjAvaWRlbnRpZmllcl9zZWxlY3QiO3M6MTY6Im9wZW5pZC5yZXR1cm5fdG8iO3M6Mjg6Imh0dHA6Ly9sb2NhbGhvc3Q6MzAwMC92ZXJpZnkiO3M6MTI6Im9wZW5pZC5yZWFsbSI7czoyMjoiaHR0cDovL2xvY2FsaG9zdDozMDAwLyI7fQ==" />
↵												<input type="hidden" name="nonce" value="b0c0aa8a93bf61c8e0c4ea05" />
↵
↵																	</form>
↵					<br>
↵					<div id="error_display" style="display: none;"></div>
↵			</div>
↵		</div>
↵
↵		<div style="clear: both"></div>
↵
↵	</div>
↵
↵</div>
↵
↵		</div>	
↵
↵			<div id="footer_spacer"></div>
↵	<div id="footer_responsive_optin_spacer"></div>
↵	<div id="footer">
↵		<div class="footer_content">
↵			<span id="footerLogo"><img src="https://steamcommunity-a.akamaihd.net/public/images/skin_1/footerLogo_valve.png?v=1" width="96" height="26" border="0" alt="Valve Logo" /></span>
↵			<span id="footerText">
↵				&copy; Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.<br/>Some geospatial data on this website is provided by <a href="https://steamcommunity.com/linkfilter/?url=http://www.geonames.org" target="_blank" rel="noreferrer">geonames.org</a>.				<br>
↵									<span class="valve_links">
↵						<a href="http://store.steampowered.com/privacy_agreement/" target="_blank">Privacy Policy</a>
↵						&nbsp; | &nbsp;<a href="http://www.valvesoftware.com/legal.htm" target="_blank">Legal</a>
↵						&nbsp;| &nbsp;<a href="http://store.steampowered.com/subscriber_agreement/" target="_blank">Steam Subscriber Agreement</a>
↵					</span>
↵							</span>
↵		</div>
↵					<div class="responsive_optin_link">
↵				<div class="btn_medium btnv6_grey_black" onclick="Responsive_RequestMobileView()">
↵					<span>View mobile website</span>
↵				</div>
↵			</div>
↵			</div>
↵	
↵	</div>	
↵
↵</div>	
↵</body>
↵</html> -->