<div class="sidePageView clanCard">
	
	<h2 class="pageHeader">Vote for your Cohort</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada erat erat, ac consectetur eros finibus id. Aliquam purus ipsum, rutrum eu condimentum id, facilisis a libero. Cras eget rutrum odio, quis imperdiet magna. Aenean quis vestibulum libero. Sed in sem ut lacus blandit scelerisque et aliquam tellus. Duis egestas, sem id eleifend blandit, quam est vehicula risus, eget hendrerit lectus leo vitae urna. Etiam quis erat vitae eros vestibulum ultricies quis a mi. Curabitur non sodales neque. Praesent quis ipsum laoreet, bibendum enim eget, faucibus turpis. Praesent eget magna eu leo cursus eleifend. Integer efficitur ex a aliquam imperdiet. Duis tempus ut turpis vitae ornare. Praesent in porta lectus. Fusce dapibus odio at pretium rhoncus. Nunc fermentum quam non mattis gravida.</p>
	
	<select id="guildSelector">
		<option ng-repeat="guild in guilds" value="{{guild.accountKey}}">{{guild.name}}</option>
	</select>

	<button ng-click="castVote()">Vote</button>

	<!-- <button ng-click="logIn()">Steam?</button> -->
</div>